.button {
    padding: 10px 16px;
    border: 2px solid hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    font-size: inherit;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.button:hover {
    background-color: hsl(0, 0%, 20%);
}

.button:disabled {
    cursor: default;
    background-color: hsl(0, 0%, 65%);
}
